/*@media screen and (min-width: 48em)*/
.entry-title, .page .entry-title {
	font-size: 26px;
	font-weight: 400;
	font-size: 1.625rem;
	border-left: 5px solid black;
	padding-left: 20px;
	background-color: #f58d6e;
}

/*@media screen and (min-width: 48em)*/
.wrap {
	max-width: 1400px;
}

#masthead .wrap {
	position: relative;
	max-width: 1400px;
}

.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
	max-width: 100%;
}
