h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
	color:#000;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 {
    font-weight: 700;
	color:#000;
}

s {
    color: #c8c8c8;
}

code {
    margin-bottom: 1.25rem;
    padding: 1rem 1.5rem;

    font-weight: 900;
    color: #d54e21;

    border: 1px solid #464646;
    border-radius: 30px;
    background-color: #c8c8c8;
}

@media screen and (min-width: 48em) {
    .entry-title,
    .page .entry-title {
      padding-left: 20px;

      border-left: 5px solid black;

      font-size: 2.5rem;
      font-weight: 900;
    }
}

.wrap {
    max-width: 100%;
}

#masthead .wrap {
    position: relative;

    max-width: 100%;
}

.custom-logo-link img,
body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
    max-width: 100%;
}

.blog:not(.has-sidebar) #primary article,
.archive:not(.page-one-column):not(.has-sidebar) #primary article,
.search:not(.has-sidebar) #primary article,
.error404:not(.has-sidebar) #primary .page-content,
.error404.has-sidebar #primary .page-content,
body.page-two-column:not(.archive) #primary .entry-content,
body.page-two-column #comments {
    float: none!important;

    width: 95%;
    max-width: 1100px;
}

/* Camptix - Attendee */

#tix-attendees .tix-columns-4 li {
    width: 23%;
    margin-right: 2%;
}

#tix-attendees ul.tix-columns-4 li:nth-child(4n+4) {
    margin-right: 0;
}

#tix-attendees li {
    display: inline-block;

    min-height: 290px;
    margin: 0 0 2rem;
    padding-top: 1.2rem;

    text-align: center;

    border-bottom: 4px solid #f0f0f0;
    background-color: rgba(0,0,0,0.02);
}

#tix-attendees .avatar {
    display: block;
    float: none;

    min-width: 65%;
    height: auto;
    margin: 0 auto 1rem;

    border: 6px solid #e5e5e5;
    border-radius: 100px;
}

#tix-attendees .tix-field {
    display: block;

    margin-left: 0;
}

#tix-attendees .tix-attendee-name {
    clear: none;

    margin-bottom: .5rem;

    text-align: center;

    font-size: 1.4rem;
    line-height: 1.4;
}

#tix-attendees .tix-attendee-name span.tix-first {
    font-weight: 700;
}

#tix-attendees .tix-attendee-name span.tix-last {
    display: block;

    font-size: .7em;
    line-height: 1;
}

#tix-attendees .tix-attendee-twitter,
#tix-attendees .tix-attendee-url {
  position: relative;

      display: inline-block;

      width: 26px;
      height: 26px;
      margin: .5rem .2rem;

      text-indent: -99999px;

      color: #d54e21;
      border: 2px solid;
      border-radius: 30px;
      box-shadow: none;
}

#tix-attendees .tix-attendee-twitter:before,
#tix-attendees .tix-attendee-url:before {
    position: absolute;
    top: 0;
    right: 0;

    width: 22px;
    height: 26px;

    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    text-align: center;
    vertical-align: top;
    text-decoration: inherit;
    text-indent: 0;

    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#tix-attendees .tix-attendee-twitter:before {
    content: "\f099";
}

#tix-attendees .tix-attendee-url:before {
    content: "\f0c1";
}

p.camptix-attendee-ticket {
    text-align: center;
}

#tix-attendees .tix-attendee-name span.tix-first {
    font-weight: 500;
}

#tix-attendees .tix-attendee-name {
    clear: none;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
}

@media only screen and (min-width: 541px) and (max-width: 1020px) {
    #tix-attendees .tix-columns-4 li,
    #tix-attendees ul.tix-columns-4 li:nth-child(2n+2),
    #tix-attendees ul.tix-columns-4 li:nth-child(4n+4) {
        width: 31%;
        margin-right: 2%;
    }

    #tix-attendees ul.tix-columns-4 li:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 540px) {
    #tix-attendees .tix-columns-4 li {
        width: 49%;
        margin-right: 2%;
    }

    #tix-attendees ul.tix-columns-4 li:nth-child(2n+2) {
        margin-right: 0;
    }
}

.btn-link, .tix-link {
    padding: 2px 5px;

    color: #ffffff;
    background-color: #d54e21;
}

.btn-link::hover, .tix-link::hover {
    color: #ffffff;
}

.tix-link::before {
    width: 5px;
    margin-right: 5px;

    content: url(https://2017.mumbai.wordcamp.org/files/2017/01/wcm-tix_before-stub.png);
}

.tix-link::after {
    width: 15px;
    margin-left: 15px;

    content: url(https://2017.mumbai.wordcamp.org/files/2017/01/wcm-tix_after-stub.png);
}

.tix-link {
    padding: -2px -5px !important;
}

1
/* X_camptix-att */

.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.entry-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.page.page-one-column:not(.twentyseventeen-front-page) #primary {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/* Tickets */

#tix {
    padding: 20px;
    background-color: rgba(0,0,0,0.02);
    border: 4px double #c0c0c0;
    background: url(http://2017.mumbai.wordcamp.org/files/2017/02/extra_clean_paper.png);
    margin-bottom: 15px;
}

thead th {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1em;
}

input#tix-coupon-input {
    width: 82%;
    float: left;
}

#tix input[type="submit"] {
    padding: 1.2em 2.7em;
}

#tix-coupon-container input[type="submit"] {
    padding: 1.2em 2em;
}

ol.ticketterms {
    margin-left: 20px;
}


/*Media Quries for mobile device*/

@media only screen and (max-device-width: 380px) {
    ol.ticketterms {
        padding-left: 15px;

        font-size: 0.8em;
    }
    .wrap {
        max-width: 380px;
        padding: 5px;
    }
}

.widget ul li {
    border-top: none;
    border-bottom: none;
}

.genericon {
    font-size: 35px !important;
}


/*---------------------------------
Ticket for Mobile
----------------------------------*/

@media only screen and (max-device-width: 380px) {
    table.tix_tickets_table>tbody>tr>td {
        position: relative;

        float: left;
    }

    table.tix_tickets_table>tbody>tr>td.tix-column-description {
        width: 100% !important;
    }

    table.tix_tickets_table>tbody>tr>td.tix-column-per-ticket,
    table.tix_tickets_table>tbody>tr>td.tix-column-price,
    table.tix_tickets_table>tbody>tr>td.tix-column-quantity {
        width: 50% !important;
        min-height: 60px;

        text-align: center;
        vertical-align: middle;

        background: #efefef;

        line-height: 45px;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-per-ticket,
    table.tix_tickets_table>tbody>tr>td.tix-column-price {
        border-right: 1px dotted #d54e21;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-price {
        border-right: none;
    }

    table.tix_tickets_table>thead, table.tix_tickets_table>tbody>tr>td.tix-column-remaining {
        display: none !important;
    }

    #tix-coupon-link {
        text-decoration: none;

        color: #d54e21;
        border-bottom: 1px dotted #000000;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-per-ticket {
        width: 30% !important;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-quantity {
        width: 20% !important;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-price {
        width: 50% !important;
    }

    table.tix-order-summary>tbody>tr.tix-row-total {
        width: 100%;

        color: #ffffff;
        background: #d54e21;

        font-weight: 800;
    }

    table.tix-order-summary>tbody>tr.tix-row-total>td {
        width: 25% !important;

        text-align: right !important;
    }
}

/*CSS for WooCommerce*/

#post-6>div>div>table.shop_table.order_details>tbody>tr>td.product-name>dl {
    display: none !important;
}

@media screen and (min-width: 48em) .has-sidebar:not(.error404) {
		#primary {
		    float: left;

		    width: 70%;
		}

		.has-sidebar #secondary {
		    float: right;

		    width: 30%;
		    padding-top: 0;
		    padding-left: 30px;
		}
}

#masthead .wrap {
    position: relative;

    max-width: 100%;
}

.wrap {
    max-width: 100%;
}

/* Header & Menu */
.site-branding {
    text-align: center;
}

ul#top-menu {
    text-align: center;
}

/* Page Title */

.site-content {
    padding: 2.5em 0 0;
}

.page.page-one-column .entry-header {
    margin-bottom: 0.5px;
    text-align: center;
}

body.page:not(.twentyseventeen-front-page) .entry-title{
    font-size: 1.6rem;
}

.page .entry-title {
    border-bottom: 4px double black;
    border-left: 0px;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
}

/* Footer */

.page .sharedaddy {
    display: none;
}

footer#colophon {
    text-align: center;
}

.social-navigation {
    width: 100%;
}

.site-info {
    width: 99%;
}

.social-navigation + .site-info {
    margin-left: 0;
}

.social-navigation a {
    width: 32px;
    height: 32px;
}

.social-navigation .icon {
    top: 8px;
}

/* Organizers */
.wcorg-organizers {
    text-align: center;
}

.wcorg-organizer {
    float: left;

    width: 32%;
    padding: 10px 20px;
}

.wcorg-organizer:nth-child(3n+1){
    clear: left;
}

.wcorg-organizer img {
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 65px;
}

.wcorg-organizer-description p {
    text-align: justify;
}

.wcorg-organizer-description .sharedaddy {
    display: none;
}


/* Sponsors */
body.single-wcb_sponsor > #page > div.single-featured-image-header > img {
    padding: 2rem 1.25rem !important;
}

.wcorg-sponsor {
    display: inline-block;

    min-height: 290px;
    margin: 0 0 2rem;
    padding: 1rem;
    padding-top: 1.2rem;

    text-align: justify;

    border-bottom: 4px solid #f0f0f0;
    background-color: rgba(0,0,0,0.02);
}

.wcorg-sponsors>div {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.wcorg-sponsors img {
	width: auto;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	background: transparent none;
}

.wcorg-sponsors h2 {
	text-transform: uppercase;
}

.wcorg-sponsor h3 {
	display: none;
}

.wcorg-sponsor .sharedaddy {
	display: none;
}

.wcorg-sponsor-level-gold h2 {
	font-size: 2.75rem;
	padding-left: 2rem;
	border-left: 6px solid #FFD700;
}

.wcorg-sponsor-level-silver h2 {
	font-size: 2rem;
	padding-left: 2rem;
	border-left: 6px solid #C0C0C0;
}

.wcorg-sponsor-level-bronze h2 {
	font-size: 1.5rem;
	padding-left: 2rem;
	border-left: 6px solid #CD7F32;
}

.wcorg-sponsor-level-silver .wcorg-sponsor {
	display: inline-block;
	width: 48%;
	margin-right: 2%;
	vertical-align: top;
}

.wcorg-sponsor-level-silver .wcorg-sponsor:nth-child(2n+2) {
	margin-right: 0;
}

.wcorg-sponsor-level-bronze .wcorg-sponsor {
	display: inline-block;
	width: 31%;
	margin-right: 2%;
	vertical-align: top;
}

.wcorg-sponsor-level-bronze .wcorg-sponsor:nth-child(2n+2) {
	margin-right: 0;
}

.wcorg-sponsor-level-gold .wcorg-sponsor-description p {
	font-size: .9em;
}

.wcorg-sponsor-level-silver .wcorg-sponsor-description p {
	font-size: .8em;
}

.wcorg-sponsor-level-bronze .wcorg-sponsor-description p {
	font-size: .7em;
}

.wcb_widget_sponsors .sponsor-level.silver .sponsor-logo {
	margin: 0 auto;
}

.wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
	max-width: 48%;
	margin: 0 2% 0 0;
	display: inline-block;
}

.wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo:nth-child(2n+2) {
	margin: 0;
}

@media only screen and (max-width: 720px) {
	.wcorg-sponsor-level-silver .wcorg-sponsor,  .wcorg-sponsor-level-bronze .wcorg-sponsor {
		width: 100%;
		margin-right: 0;
	}
}

/* Sponsor Widget */
.wcb_widget_sponsors > div.sponsor-level > a.sponsor-logo > img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.wcb_widget_sponsors > div.sponsor-level > a.sponsor-logo > img:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* msie */
}

.wcb_widget_sponsors .sponsor-level {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.wcb_widget_sponsors h4.sponsor-level-title {
    padding: 10px;
    text-transform: uppercase;
}

.wcb_widget_sponsors .sponsor-level.gold {
    border: 1px solid #FFD700;
}

.wcb_widget_sponsors .sponsor-level.gold .sponsor-logo img {
    width: 100%;
    height: auto !important;
}

.wcb_widget_sponsors .sponsor-level.gold h4.sponsor-level-title {
    background-color: #FFD700;
}

.wcb_widget_sponsors .sponsor-level.silver {
    border: 1px solid #C0C0C0;
}

.wcb_widget_sponsors .sponsor-level.silver .sponsor-logo img {
    width: 66%;
}

.wcb_widget_sponsors .sponsor-level.silver h4.sponsor-level-title {
    background-color: #C0C0C0;
}

.wcb_widget_sponsors .sponsor-level.bronze {
    border: 1px solid #CD7F32;
}

.wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo img {
    width: 80%;
    padding: none !important;
}

.wcb_widget_sponsors .sponsor-level.bronze h4.sponsor-level-title {
    background-color: #CD7F32;
}

.wcb_widget_sponsors .sponsor-logo {
    padding-bottom: 10px;
    float: left;
}

.wcb_widget_sponsors .sponsor-logo,
.wcb_widget_sponsors .sponsor-logo img,
.wcb_widget_sponsors .sponsor-logo a,
.wcb_widget_sponsors .sponsor-logo a:focus,
.wcb_widget_sponsors .sponsor-logo a:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 1.25rem !important;
}

/* Coupon */
[id^=wcorg-discount] {
    float: left;
    border-bottom: 4px solid #f0f0f0;
    background-color: rgba(0,0,0,0.02);
    min-height: 250px;
}

[id^=wcorg-discount] h4 {
    text-align: center;
}

[id^=wcorg-discount] .wcorg-sponsor-description code {
    box-shadow: 0 0 0 6px #fcf8d9, 2px 1px 6px 4px #ffffff;
    border: 2px dashed #d54e21;
    background-color: #fcf8d9;
    padding: 0.8rem 1rem;
    border-radius: 0px;
    text-transform: lowercase;
    font-weight: 900;
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 0 0 20px 0;
}

[id^=wcorg-discount] .wcorg-sponsor-description code + br {
    display: none;
}

[id^=wcorg-discount] .wcorg-sponsor-description small:first-child {
    background-color: #d54e21;
    color: #ffffff;
    padding: 5px 10px;
    display: inline;
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    border-radius: 5px;
}

[id^=wcorg-discount] .wcorg-sponsor-description code:before {
    font-family: FontAwesome;
    content: "ïƒ„";
    margin-right: 10px;
    margin-left: -15px;
}

[id^=wcorg-discount] + P {
    display: none;
}

.discounts {
    box-shadow: 0 0 0 6px #fcf8d9, 2px 1px 6px 4px #ffffff;
    border: 2px dashed #d54e21;
    background-color: #fcf8d9;
    padding: .8rem 1rem;
    border-radius: 0;
    text-transform: lowercase;
    font-weight: 900;
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 0 0 20px;
    color: #d54e21;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.wp-caption-text { text-align:center; }
