a.skip-link.screen-reader-text {
display:none;
}

/*Remove underline from all hyperlinks in page*/
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
    } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
	color:#000;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  } 



/*Navigation and Header*/
.site-header .site-branding {
	position: relative;
	overflow: hidden;
	padding: 1.5rem 1rem;
	text-align: center;
}

@media (min-width:37.5em) {
	.site-header .site-branding {
		padding: 3rem 2rem;
	}
}

@media (min-width:48em) {
	.site-header .site-branding {
		padding: 4.5rem 3rem;
	}
}

.home .site-header .site-branding {
	padding: 3.5rem 1rem;
}

@media (min-width:37.5em) {
	.home .site-header .site-branding {
		padding: 7rem 2rem;
	}
}

@media (min-width:48em) {
	.home .site-header .site-branding {
		padding: 4.5rem 3rem;
	}
}

.site-title {
	margin: 0;
	font-size: 1.5625em;
	line-height: 1;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	color: #000;
}

.site-title a {
	display: block;
	color: #fff;
}

.site-title a:active,.site-title a:focus,.site-title a:hover {
	color: #000;
	text-decoration: none;
}

.site-title a:before {
	display: block;
	width: 160px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('https://i0.wp.com/2017.mumbai.wordcamp.org/files/2016/12/cropped-WCMumbai_2017.png');
	background-size: 100%;
	content: "";
}

 @media (min-width:48em) {
	.site-title a:before {
		width: 208px;
		height: 208px;
	}
}

@media (min-width:62em) {
	.site-title {
		font-size: 1.95312em;
	}
}

.site-description {
	margin: 0;
	margin-top: .5rem;
	font-size: 1em;
	line-height: 1.25em;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	color:#fff;
}

.site-header {

	background-color:#D54E27;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: fixed;
	/*background-image: url('add a image with resolution 1200x700 here');*/
	transition: all .15s ease;
}

.site-header:hover {
    background-color: #e5410b;
}

@media (min-width:48em) {
	.site-header {
/*		background-image: url('add a image with resolution 1680*653  here');*/
		background-position: 50% 50%;
		background-size: cover;
		background-color:#D54E27;
	}
}
@media (min-width:1800px) {
	.site-header {
		/*background-image: url('add a image with resolution 1680*490  here');*/
		background-color:#D54E27;
	}
}



.site-header>* {
	position: relative;
	z-index: 200;
}

.menu-toggle {
	padding: 1rem;
	margin: 0;
	margin-top: .125rem;
	width: 100%;
	font-size: 0;
	line-height: 24px;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	letter-spacing: .05em;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	background-color: #DF7D60;
	cursor: pointer;
}

.menu-toggle.focus,.menu-toggle:active,.menu-toggle:focus,.menu-toggle:hover {
	color: #D54E27;
	background-color: #fff;
}

.menu-toggle:before {
	font-size: 16px;
	line-height: 24px;
	content: "Menu";
}

.menu-toggle:after,.menu-toggle:before {
	display: inline-block;
	vertical-align: middle;
}

.menu-toggle:after {
	position: relative;
	top: -.125rem;
	border: .375rem solid transparent;
	margin-left: .5rem;
	border-top-color: #d90e17;
	content: "";
}

.menu-toggle[aria-expanded=true] {
	color: #e5410b;
}

.menu-toggle[aria-expanded=true]:after {
	border-top-color: transparent;
	border-bottom-color: #e5410b;
}

@media (min-width:37.5em) {
	.menu-toggle {
		display: none;
	}
}

.main-navigation {
	position: relative;
	background-color: #f5f5f5;
}

@media (max-width:37.4375em) {
	.main-navigation {
		background-color: #fff;
	}
	
	.main-navigation.toggled-on .menu {
		display: block;
	}
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu:after,.menu:before {
	content: "";
	display: table;
}

.menu:after {
	clear: both;
}

@media (min-width:37.5em) {
	.menu {
		display: block;
	}
}

@media (max-width:37.4375em) {
	.menu {
		border-top: 1px solid hsla(0,0%,100%,.2);
		display: none;
	}
	
	.toggled-on .menu {
		display: block;
	}
}

.menu-item {
	position: relative;
	margin: 0;
	display: block;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.025em;
}

@media (min-width:37.5em) {
	.menu-item {
		margin: 0 .0625rem;
		display: inline-block;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 1.33333em;
		text-align: center;
	}
}

.menu-item a {
	display: block;
	color: #000;
	padding: .1rem 1rem;
	text-decoration: none;
	transition: all .1s ease;
}

.menu-item a.focus,.menu-item a:active,.menu-item a:focus,.menu-item a:hover {
	color: #fff;
	background-color: #e5410b;
}

@media (min-width:48em) {
	.menu-item a {
		padding: 0.5rem 1rem;
		margin-right: -7px;
	}
}

@media (min-width:62em) {
	.menu-item a {
		    margin-right: -4px;
		padding: 0.5rem 1rem;
	}
}

.current-menu-item>a {
	color: #e5410b;
	background-color: #fff;
}

.menu-item-has-children {
	background-color: hsla(0,0%,98%,.6);
}

.menu-item-has-children .dropdown-toggle {
	display: none;
}

@media (min-width:37.5em) {
	.menu-item-has-children {
		background-color: transparent;
	}
	
	.menu-item-has-children>a:after {
		position: relative;
		top: -.125rem;
		display: inline-block;
		border: .375rem solid transparent;
		margin-left: .5rem;
		vertical-align: middle;
		border-top-color: #000;
		content: "";
	}
	
	.menu-item-has-children>a .dropdown-toggle {
		display: inline-block;
		display: none;
	}
	
	.menu-item-has-children.focus>a,.menu-item-has-children:hover>a {
		color: #fff;
		background-color: #e5410b;
	}
	
	.menu-item-has-children.focus>a:after,.menu-item-has-children:hover>a:after {
		border-top-color: #fff;
	}
	
	.menu-item-has-children.focus>.sub-menu,.menu-item-has-children:hover>.sub-menu {
		left: 0;
	}
	
	.menu-item-has-children.current-menu-item.focus>a:after,.menu-item-has-children.current-menu-item:hover>a:after,.menu-item-has-children.current-menu-item>a:after {
		border-top-color: #000;
	}
}

.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-menu .menu-item {
	text-transform: none;
	font-weight: 400;
	font-family: Muli, Georgia, Cambria, Times New Roman, Times, serif;
}

@media (max-width:37.4375em) {
	.sub-menu a {
		padding-left: 2.5rem;
	}
}

@media (min-width:37.5em) {
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 310;
		min-width: 16.25rem;
		background-color: #EFBAAB;
	}
	
	.sub-menu .menu-item {
		width: 100%;
		margin: 0;
		border-top: 1px solid #fff;
		text-align: left;
	}
	
	.sub-menu a {
		padding: .75rem 1rem;
		color: #fff;
	}
	
	.sub-menu .current-menu-item>a {
		color: #fff;
		background-color: #EFBAAB;
	}
}

@media (min-width:48em) {
	.sub-menu a {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (min-width:62em) {
	.sub-menu a {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

#colophon {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	text-align: center;
}
/*Navgation and header ends here*/



/*BODY*/
body {
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
	display: block;
}

audio,canvas,progress,video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

[hidden],template {
	display: none;
}

a:active,a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,strong {
	font-weight: inherit;
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

code,kbd,pre,samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,input,select,textarea {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: 700;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

[type=reset],[type=submit],button,html [type=button] {
	-webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type=checkbox],[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

* {
	box-sizing: border-box;
}



body {
    font-size: 1em;
    line-height: 1.5625em;
    font-family: Georgia, Cambria, Times New Roman, Times, serif;
    color: rgba(0,0,0,.75);
margin:0px!important;
}

@media (min-width: 48em){
body {
    font-size: 1.25em;
	}}

@media (min-width: 37.5em){
body {
    font-size: 1.125em;
	}}

hr {
	margin: 1.5rem 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #e7e7e7;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input:not([type]),input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea {
	display: block;
	width: 100%;
	padding: .4375rem 1rem;
	margin: 0;
	border: 1px solid #b8b8b8;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.75);
	background-color: #fff;
	box-shadow: inset 0 .125rem 0 0 #fdf3f3;
	border-radius: .1875rem;
	transition: all .1s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

input:not([type]):hover,input[type=color]:hover,input[type=date]:hover,input[type=datetime-local]:hover,input[type=datetime]:hover,input[type=email]:hover,input[type=month]:hover,input[type=number]:hover,input[type=password]:hover,input[type=search]:hover,input[type=tel]:hover,input[type=text]:hover,input[type=time]:hover,input[type=url]:hover,input[type=week]:hover,textarea:hover {
	color: #000;
}
input:not([type]):focus,input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus {
	outline: none;
	color: #000;
	border-color: #e5410b;
	box-shadow: 0 0 0 .125em #e5410b;
}

textarea {
	resize: vertical;
	min-height: 6.25rem;
	display: block;
}

@media (min-width:48em) {
	textarea {
		min-height: 9.375rem;
	}
}
select {
	display: block;
	height: 2.5rem;
	width: 100%;
	padding: .4375rem 1rem;
	border: 1px solid #b8b8b8;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.75);
	font-weight: 400;
	background-color: #fff;
	border-radius: .1875rem;
	cursor: pointer;
}
a {
	color: #e5410b;
	text-decoration: none;
	transition: all .15s ease;
}

a:focus,a:hover {
	color: #c74419;
	text-decoration: underline;
}

a:active {
	color: #c74419;
	text-decoration: none;
}

p {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-size: 1em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.75);
}

@media (min-width:37.5em) {
	p {
		line-height: 1.5625em;
	}
}

@media (min-width:48em) {
	p {
		line-height: 1.5625em;
	}
}

strong {
	font-weight: 700;
	color: rgba(0,0,0,.75);
}

em {
	font-stretch: italic;
}

sup sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

dl,ol,ul {
	margin-bottom: 1.5rem;
}

dl dl,dl ol,dl ul,li,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul {
	margin-bottom: 0;
}

li {
	margin-top: .25rem;
}

li:first-child {
	margin-top: 0;
}

blockquote {
	margin: 0;
	margin-bottom: 1.5rem;
	padding: 0;
	padding-left: 1.5rem;
	border-left: .1875rem solid #d90e17;
}

blockquote p {
	font-style: normal;
}

blockquote p:last-child {
	margin-bottom: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-bottom: 1.5rem;
}

caption {
	margin-bottom: .5rem;
}

td,th {
	padding: .5rem 1rem;
	border-top: 1px solid rgba(0,0,0,.1);
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

@media (min-width:48em) {
	td,th {
		padding: 1rem;
	}

code,pre {
	border: 1px solid #DF7D60;
	border-top-color: #D54E27;
	border-radius: .1875rem;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.5;
	color: rgba(0,0,0,.75);
	font-family: Consolas, Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	-moz-tab-size: 2;
	tab-size: 2;
}

pre {
	margin: 1.5rem 0;
	padding: 1.5rem;
	overflow: scroll;
}
	

code {
	padding: .125rem .1875rem;
	background-color: #cfcfcf;
}
	
pre code {
	border-radius: 0;
	border: 0;
	padding: 0;
	background: 0;
}
	
.cc-title {
	margin-bottom: 1.5rem;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	text-transform: none;
}

.cc-group {
}

.cc-group:after,.cc-group:before {
	content: "";
	display: table;
}

.cc-group:after {
	clear: both;
}

.cc {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	margin-bottom: 1.5rem;
	padding: 1rem;
	padding-top: 6rem;
	border: 1px solid #ddd;
	border-radius: .1875rem;
}

.cc:after,.cc:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 5rem;
	border-top-left-radius: .1875rem;
	border-top-right-radius: .1875rem;
	content: "";
}

.cc:before {
	background: url('image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQoU2NkYGAwZkAFZ5G5jPRRgOYEVDeB3EBjBQBOZwTVugIGyAAAAABJRU5ErkJggg==');
}

.cc dt {
	margin: 0;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.cc dd {
	margin: 0;
	font-size: 13px;
	font-size: .8125rem;
	line-height: 1.4;
	font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
	font-feature-settings: normal;
}

@media (min-width:37.5em) {
	.cc {
		width: 47.36842%;
		float: left;
	}
	
	.cc:nth-child(odd) {
		margin-right: -100%;
		clear: both;
		margin-left: 0;
	}
	
	.cc:nth-child(2n+2) {
		margin-left: 52.63158%;
		margin-right: -100%;
		clear: none;
	}
}

@media (min-width:48em) {
	.cc {
		width: 31.03448%;
		float: left;
	}
	
	.cc:nth-child(3n+1) {
		margin-right: -100%;
		clear: both;
		margin-left: 0;
	}
	
	.cc:nth-child(3n+2) {
		margin-left: 34.48276%;
		margin-right: -100%;
		clear: none;
	}
	
	.cc:nth-child(3n+3) {
		margin-left: 68.96552%;
		margin-right: -100%;
		clear: none;
	}
}

.cc__title {
	font-weight: 700;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.cc__variable {
	font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
	color: rgba(0,0,0,.6);
}

.cc__variable:after {
	color: rgba(0,0,0,.8);
	display: block;
}

.site {
	overflow: hidden;
	position: relative;
}



/*CONTENT AREA STARTS*/
#content {
	padding: 1.5rem 1rem;
}

@media (min-width:37.5em) {
	#content {
		padding: 3rem 2rem;
	}
}

@media (min-width:48em) {
	#content {
		padding: 4.5rem 3rem;
	}
}

#primary {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display:block;
}
.post {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

h1.entry-title {
    border-left: 10px solid #e5410b;
    padding-left: 10px;
}
.entry-meta {
    margin-bottom: 1rem;
    font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0,0,0,.6);
    text-transform: uppercase;
    letter-spacing: -.025em;
}
.entry-meta a {
	color: #e5410b;
}

.entry-meta a:active,.entry-meta a:focus,.entry-meta a:hover {
	color: #c74419;
}

.entry-meta .updated {
	display: none;
}

.entry-meta .published {
	display: inline;
}

.entry-content {
}

.entry-content:after,.entry-content:before {
	content: "";
	display: table;
}

.entry-content:after {
	clear: both;
}

.entry-content .more-link {
	display: block;
	margin-top: 1rem;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.wp-caption {
	max-width: 100%;
	margin-bottom: 1.5rem;
}

.wp-caption img {
	margin-bottom: 0;
	max-width: none;
	width: 100%;
}

.wp-caption p {
	margin-top: .5rem;
	margin-bottom: 0;
	font-size: .8em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.6);
}
figure,img {
	display: block;
	margin: 0;
	margin-bottom: 1.5rem;
	max-width: 100%;
	height: auto;
}

figcaption {
	margin-top: .5rem;
	margin-bottom: 0;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: .8em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.6);
}

img {
	border-style: none;
}
.entry-footer {
	margin-bottom: 1.5rem;
	font-family: Work Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5em;
	color: rgba(0,0,0,.6);
	letter-spacing: -.025em;
}

.entry-footer>:after {
	content: " | ";
}

.entry-footer>:last-child:after {
	content: "";
}

.entry-footer a {
	color: #e5410b;
}

.entry-footer a:active,.entry-footer a:focus,.entry-footer a:hover {
	color: #c74419;
}
/*POST NAVIGATION*/
.post-navigation,.posts-navigation {
}

.post-navigation:after,.post-navigation:before,.posts-navigation:after,.posts-navigation:before {
	content: "";
	display: table;
}

.post-navigation:after,.posts-navigation:after {
	clear: both;
}

.post-navigation .screen-reader-text,.posts-navigation .screen-reader-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.post-navigation a,.posts-navigation a {
	display: block;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	letter-spacing: -.025em;
}

.post-navigation .nav-previous,.posts-navigation .nav-previous {
	float: left;
	text-align: left;
}

.post-navigation .nav-previous a:before,.posts-navigation .nav-previous a:before {
	margin-right: .5rem;
	display: inline-block;
	content: "\2190";
}

.post-navigation .nav-next,.posts-navigation .nav-next {
	float: right;
	text-align: right;
}

.post-navigation .nav-next a:after,.posts-navigation .nav-next a:after {
	margin-left: .5rem;
	display: inline-block;
	content: "\2192";
}

/*CONTENT AREA ENDS*/
/*typography*/
h1,h2,h3,h4 {
	margin-bottom: 1.5rem;
	margin-top: 0;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -.025em;
}

h1 {
	font-size: 39px;
	color: #111;
}

h2 {
	font-size: 1.95312em;
}

h2,h3 {
	color: #000;
}

h3 {
	font-size: 1.5625em;
}

h4 {
	font-size: 1.25em;
	color: #000;
}


p {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-size: 1em;
	line-height: 1.5625em;
	color: rgba(0,0,0,.75);
}

@media (min-width:37.5em) {
	p {
		line-height: 1.5625em;
	}
}

@media (min-width:48em) {
	p {
		line-height: 1.5625em;
	}
}

/*SECONDARY SIDEBAR */
#secondary {
	margin-top: 2rem;
}

#after-header-widgets,#before-content-widgets,#secondary {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}


#after-header-widgets .widget,#before-content-widgets .widget,#secondary .widget {
	text-align: center;
}

#after-header-widgets .widget>*,#before-content-widgets .widget>*,#secondary .widget>* {
	position: relative;
}

/*
#after-header-widgets .widget:before,#before-content-widgets .widget:before,#secondary .widget:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1000px;
	right: -1000px;
	background-color: #e5410b;
	content: "";
}
*/

.widget-title {
    font-size: 1.25em;
    line-height: 1.25em;
}

.widget_text {
	background-color: #e7e7e7;
}

.widget_text .widget-title {
	color: #000;
}

.widget_text:before {
	background-color: #e7e7e7 !important;
}

.jetpack_subscription_widget {
	text-align: center;
}

.jetpack_subscription_widget .widget-title {
	color: #000;
}

.jetpack_subscription_widget p {
	margin: 0;
	color: #000;
}

.jetpack_subscription_widget input[type=email] {
	width: 100% !important;
}

.jetpack_subscription_widget input[type=submit] {
	width: 100%;
	color: hsla(0,0%,100%,.75);
	text-transform: uppercase;
	background-color: #c74419;
}

.jetpack_subscription_widget input[type=submit]:active,.jetpack_subscription_widget input[type=submit]:focus,.jetpack_subscription_widget input[type=submit]:hover {
	color: #000;
	background-color: #DF7D60;
}

.jetpack_subscription_widget #subscribe-text {
	margin-bottom: 1.5rem;
}

.jetpack_subscription_widget #subscribe-email,.jetpack_subscription_widget #subscribe-submit {
	display: inline-block;
	width: 12.5rem;
	margin: .25rem;
	vertical-align: top;
}


@media (min-width:37.5em) {
	.jetpack_subscription_widget #subscribe-email {
		width: 25rem;
	}
}
/*Jetpack end*/

