



/*Navigation and Header*/
.site-header .site-branding {
	position: relative;
	overflow: hidden;
	padding: 1.5rem 1rem;
	text-align: center;
}

@media (min-width:37.5em) {
	.site-header .site-branding {
		padding: 3rem 2rem;
	}
}

@media (min-width:48em) {
	.site-header .site-branding {
		padding: 4.5rem 3rem;
	}
}

.home .site-header .site-branding {
	padding: 3.5rem 1rem;
}

@media (min-width:37.5em) {
	.home .site-header .site-branding {
		padding: 7rem 2rem;
	}
}

@media (min-width:48em) {
	.home .site-header .site-branding {
		padding: 4.5rem 3rem;
	}
}

.site-title {
	margin: 0;
	font-size: 1.5625em;
	line-height: 1;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	color: #000;
}

.site-title a {
	display: block;
	color: #fff;
}

.site-title a:active,.site-title a:focus,.site-title a:hover {
	color: #000;
	text-decoration: none;
}

.site-title a:before {
	display: block;
	width: 160px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('https://i0.wp.com/2017.mumbai.wordcamp.org/files/2016/12/cropped-WCMumbai_2017.png');
	background-size: 100%;
	content: "";
}

 @media (min-width:48em) {
	.site-title a:before {
		width: 208px;
		height: 208px;
	}
}

@media (min-width:62em) {
	.site-title {
		font-size: 1.95312em;
	}
}

.site-description {
	margin: 0;
	margin-top: .5rem;
	font-size: 1em;
	line-height: 1.25em;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	color:#fff;
}

.site-header {

	background-color:#D54E27;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: fixed;
	/*background-image: url('add a image with resolution 1200x700 here');*/
	transition: all .15s ease;
}

.site-header:hover {
    background-color: #e5410b;
}

@media (min-width:48em) {
	.site-header {
/*		background-image: url('add a image with resolution 1680*653  here');*/
		background-position: 50% 50%;
		background-size: cover;
		background-color:#D54E27;
	}
}
@media (min-width:1800px) {
	.site-header {
		/*background-image: url('add a image with resolution 1680*490  here');*/
		background-color:#D54E27;
	}
}



.site-header>* {
	position: relative;
	z-index: 200;
}

.menu-toggle {
	padding: 1rem;
	margin: 0;
	margin-top: .125rem;
	width: 100%;
	font-size: 0;
	line-height: 24px;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	letter-spacing: .05em;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	background-color: #DF7D60;
	cursor: pointer;
}

.menu-toggle.focus,.menu-toggle:active,.menu-toggle:focus,.menu-toggle:hover {
	color: #D54E27;
	background-color: #fff;
}

.menu-toggle:before {
	font-size: 16px;
	line-height: 24px;
	content: "Menu";
}

.menu-toggle:after,.menu-toggle:before {
	display: inline-block;
	vertical-align: middle;
}

.menu-toggle:after {
	position: relative;
	top: -.125rem;
	border: .375rem solid transparent;
	margin-left: .5rem;
	border-top-color: #d90e17;
	content: "";
}

.menu-toggle[aria-expanded=true] {
	color: #e5410b;
}

.menu-toggle[aria-expanded=true]:after {
	border-top-color: transparent;
	border-bottom-color: #e5410b;
}

@media (min-width:37.5em) {
	.menu-toggle {
		display: none;
	}
}

.main-navigation {
	position: relative;
	background-color: #f5f5f5;
}

@media (max-width:37.4375em) {
	.main-navigation {
		background-color: #fff;
	}
	
	.main-navigation.toggled-on .menu {
		display: block;
	}
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu:after,.menu:before {
	content: "";
	display: table;
}

.menu:after {
	clear: both;
}

@media (min-width:37.5em) {
	.menu {
		display: block;
	}
}

@media (max-width:37.4375em) {
	.menu {
		border-top: 1px solid hsla(0,0%,100%,.2);
		display: none;
	}
	
	.toggled-on .menu {
		display: block;
	}
}

.menu-item {
	position: relative;
	margin: 0;
	display: block;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.025em;
}

@media (min-width:37.5em) {
	.menu-item {
		margin: 0 .0625rem;
		display: inline-block;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 1.33333em;
		text-align: center;
	}
}

.menu-item a {
	display: block;
	color: #000;
	padding: .1rem 1rem;
	text-decoration: none;
	transition: all .1s ease;
}

.menu-item a.focus,.menu-item a:active,.menu-item a:focus,.menu-item a:hover {
	color: #fff;
	background-color: #e5410b;
}

@media (min-width:48em) {
	.menu-item a {
		padding: 0.5rem 1rem;
		margin-right: -7px;
	}
}

@media (min-width:62em) {
	.menu-item a {
		    margin-right: -4px;
		padding: 0.5rem 1rem;
	}
}

.current-menu-item>a {
	color: #e5410b;
	background-color: #fff;
}

.menu-item-has-children {
	background-color: hsla(0,0%,98%,.6);
}

.menu-item-has-children .dropdown-toggle {
	display: none;
}

@media (min-width:37.5em) {
	.menu-item-has-children {
		background-color: transparent;
	}
	
	.menu-item-has-children>a:after {
		position: relative;
		top: -.125rem;
		display: inline-block;
		border: .375rem solid transparent;
		margin-left: .5rem;
		vertical-align: middle;
		border-top-color: #000;
		content: "";
	}
	
	.menu-item-has-children>a .dropdown-toggle {
		display: inline-block;
		display: none;
	}
	
	.menu-item-has-children.focus>a,.menu-item-has-children:hover>a {
		color: #fff;
		background-color: #e5410b;
	}
	
	.menu-item-has-children.focus>a:after,.menu-item-has-children:hover>a:after {
		border-top-color: #fff;
	}
	
	.menu-item-has-children.focus>.sub-menu,.menu-item-has-children:hover>.sub-menu {
		left: 0;
	}
	
	.menu-item-has-children.current-menu-item.focus>a:after,.menu-item-has-children.current-menu-item:hover>a:after,.menu-item-has-children.current-menu-item>a:after {
		border-top-color: #000;
	}
}

.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-menu .menu-item {
	text-transform: none;
	font-weight: 400;
	font-family: Muli, Georgia, Cambria, Times New Roman, Times, serif;
}

@media (max-width:37.4375em) {
	.sub-menu a {
		padding-left: 2.5rem;
	}
}

@media (min-width:37.5em) {
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 310;
		min-width: 16.25rem;
		background-color: #EFBAAB;
	}
	
	.sub-menu .menu-item {
		width: 100%;
		margin: 0;
		border-top: 1px solid #fff;
		text-align: left;
	}
	
	.sub-menu a {
		padding: .75rem 1rem;
		color: #fff;
	}
	
	.sub-menu .current-menu-item>a {
		color: #fff;
		background-color: #EFBAAB;
	}
}

@media (min-width:48em) {
	.sub-menu a {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (min-width:62em) {
	.sub-menu a {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

#colophon {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	text-align: center;
}
/*Navgation and header ends here*/



/*BODY*/

.body {
margin:0px!important;
}
/*CONTENT AREA STARTS*/
#content {
	padding: 1.5rem 1rem;
}

@media (min-width:37.5em) {
	#content {
		padding: 3rem 2rem;
	}
}

@media (min-width:48em) {
	#content {
		padding: 4.5rem 3rem;
	}
}

#primary {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display:block;
}
.post {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

/*CONTENT AREA ENDS*/
/*typography*/
h1,h2,h3,h4 {
	margin-bottom: 1.5rem;
	margin-top: 0;
	font-family: Muli, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -.025em;
}

h1 {
	font-size: 39.062 px;
	color: #111;
}
