/*@media screen and (min-width: 48em)*/
.entry-title,
.page .entry-title {
    padding-left: 20px;

    border-left: 5px solid black;

    font-size: 1.625rem;
    font-weight: 400;
}

/*@media screen and (min-width: 48em)*/

.wrap {
    max-width: 100%;
}

#masthead .wrap {
    position: relative;

    max-width: 100%;
}

.custom-logo-link img,
body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
    max-width: 100%;
}

.blog:not(.has-sidebar) #primary article,
.archive:not(.page-one-column):not(.has-sidebar) #primary article,
.search:not(.has-sidebar) #primary article,
.error404:not(.has-sidebar) #primary .page-content,
.error404.has-sidebar #primary .page-content,
body.page-two-column:not(.archive) #primary .entry-content,
body.page-two-column #comments {
    float: none!important;

    width: 95%;
    max-width: 1100px;
}

/* Camptix - Attendee */

#tix-attendees .tix-columns-4 li {
    width: 23%;
    margin-right: 2%;
}

#tix-attendees ul.tix-columns-4 li:nth-child(4n+4) {
    margin-right: 0;
}

#tix-attendees li {
  display: inline-block;

      min-height: 290px;
      margin: 0 0 2rem;
      padding-top: 1.2rem;

      text-align: center;

      border-bottom: 4px solid #f0f0f0;
      background-color: rgba(0,0,0,0.02);
    }

#tix-attendees .avatar {
    display: block;
    float: none;

    min-width: 65%;
    height: auto;
    margin: 0 auto 1rem;

    border: 6px solid #e5e5e5;
    border-radius: 100px;
}

#tix-attendees .tix-field {
    display: block;

    margin-left: 0;
}

#tix-attendees .tix-attendee-name {
    clear: none;

    margin-bottom: .5rem;

    text-align: center;

    font-size: 1.4rem;
    line-height: 1.4;
}

#tix-attendees .tix-attendee-name span.tix-first {
    font-weight: 700;
}

#tix-attendees .tix-attendee-name span.tix-last {
    display: block;

    font-size: .7em;
    line-height: 1;
}

#tix-attendees .tix-attendee-twitter,
#tix-attendees .tix-attendee-url {
  position: relative;

      display: inline-block;

      width: 26px;
      height: 26px;
      margin: .5rem .2rem;

      text-indent: -99999px;

      color: #d54e21;
      border: 2px solid;
      border-radius: 30px;
      box-shadow: none;
}

#tix-attendees .tix-attendee-twitter:before,
#tix-attendees .tix-attendee-url:before {
    position: absolute;
    top: 0;
    right: 0;

    width: 22px;
    height: 26px;

    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    text-align: center;
    vertical-align: top;
    text-decoration: inherit;
    text-indent: 0;

    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#tix-attendees .tix-attendee-twitter:before {
    content: "\f099";
}

#tix-attendees .tix-attendee-url:before {
    content: "\f0c1";
}

@media only screen and (min-width: 541px) and (max-width: 1020px) {
    #tix-attendees .tix-columns-4 li,
		#tix-attendees ul.tix-columns-4 li:nth-child(2n+2),
		#tix-attendees ul.tix-columns-4 li:nth-child(4n+4) {
        width: 31%;
        margin-right: 2%;
    }

    #tix-attendees ul.tix-columns-4 li:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 540px) {
    #tix-attendees .tix-columns-4 li {
        width: 49%;
        margin-right: 2%;
    }

    #tix-attendees ul.tix-columns-4 li:nth-child(2n+2) {
        margin-right: 0;
    }
}

.btn-link, .tix-link {
    padding: 2px 5px;

    color: #ffffff;
    background-color: #d54e21;
}

.btn-link::hover, .tix-link::hover {
    color: #ffffff;
}

.tix-link::before {
    width: 5px;
    margin-right: 5px;

    content: url(https://2017.mumbai.wordcamp.org/files/2017/01/wcm-tix_before-stub.png);
}

.tix-link::after {
    width: 15px;
    margin-left: 15px;

    content: url(https://2017.mumbai.wordcamp.org/files/2017/01/wcm-tix_after-stub.png);
}

.tix-link {
    padding: -2px -5px !important;
}

1
/* X_camptix-att */

.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.entry-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.page.page-one-column:not(.twentyseventeen-front-page) #primary {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}


/*Media Quries for mobile device*/

@media only screen and (max-device-width: 380px) {
    ol.ticketterms {
        padding-left: 15px;

        font-size: 0.8em;
    }
    .wrap {
        max-width: 380px;
        padding: 5px;
    }
}

.widget ul li {
    border-top: none;
    border-bottom: none;
}

.genericon {
    font-size: 35px !important;
}


/*---------------------------------
Ticket for Mobile
----------------------------------*/

@media only screen and (max-device-width: 380px) {
    table.tix_tickets_table>tbody>tr>td {
        position: relative;

        float: left;
    }

    table.tix_tickets_table>tbody>tr>td.tix-column-description {
        width: 100% !important;
    }

    table.tix_tickets_table>tbody>tr>td.tix-column-per-ticket,
		table.tix_tickets_table>tbody>tr>td.tix-column-price,
		table.tix_tickets_table>tbody>tr>td.tix-column-quantity {
        width: 50% !important;
        min-height: 60px;

        text-align: center;
        vertical-align: middle;

        background: #efefef;

        line-height: 45px;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-per-ticket,
		table.tix_tickets_table>tbody>tr>td.tix-column-price {
        border-right: 1px dotted #d54e21;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-price {
        border-right: none;
    }

    table.tix_tickets_table>thead, table.tix_tickets_table>tbody>tr>td.tix-column-remaining {
        display: none !important;
    }

    #tix-coupon-link {
        text-decoration: none;

        color: #d54e21;
        border-bottom: 1px dotted #000000;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-per-ticket {
        width: 30% !important;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-quantity {
        width: 20% !important;
    }

    table.tix-order-summary>tbody>tr>td.tix-column-price {
        width: 50% !important;
    }

    table.tix-order-summary>tbody>tr.tix-row-total {
        width: 100%;

        color: #ffffff;
        background: #d54e21;

        font-weight: 800;
    }

    table.tix-order-summary>tbody>tr.tix-row-total>td {
        width: 25% !important;

        text-align: right !important;
    }
}

/*CSS for WooCommerce*/

#post-6>div>div>table.shop_table.order_details>tbody>tr>td.product-name>dl {
    display: none !important;
}

@media screen and (min-width: 48em) .has-sidebar:not(.error404) {
		#primary {
		    float: left;

		    width: 70%;
		}

		.has-sidebar #secondary {
		    float: right;

		    width: 30%;
		    padding-top: 0;
		    padding-left: 30px;
		}
}

#masthead .wrap {
    position: relative;

    max-width: 100%;
}

.wrap {
    max-width: 100%;
}

/* Header & Menu */
.site-branding {
    text-align: center;
}

ul#top-menu {
    text-align: center;
}

/* Organizers */
.wcorg-organizers {
    text-align: center;
}

.wcorg-organizer {
    float: left;

    width: 32%;
    padding: 10px 20px;
}

.wcorg-organizer:nth-child(3n+1){
    clear: left;
}

.wcorg-organizer img {
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 65px;
}

.wcorg-organizer-description p {
    text-align: justify;
}

.wcorg-organizer-description .sharedaddy {
    display: none;
}

/* Sponors */
.wcorg-sponsor {
    float: left;
}

.wcorg-sponsor-description img {
    margin: auto;
}

.wcorg-sponsor-description p {
    text-align: justify;
}

.wcorg-sponsor-description .sharedaddy {
    display: none;
}

.wcorg-sponsor-level-global-gold .wcorg-sponsor,
.wcorg-sponsor-level-gold .wcorg-sponsor {    
    width: 48%;
}
.wcorg-sponsor-level-global-gold .wcorg-sponsor:nth-child(2n+1),
.wcorg-sponsor-level-gold .wcorg-sponsor:nth-child(2n+1) {
    clear: left;
}

.wcorg-sponsor-level-global-silver .wcorg-sponsor,
.wcorg-sponsor-level-silver .wcorg-sponsor {    
    width: 32%;
}
.wcorg-sponsor-level-global-silver .wcorg-sponsor:nth-child(3n+1),
.wcorg-sponsor-level-silver .wcorg-sponsor:nth-child(3n+1) {
    clear: left;
}

.wcorg-sponsor-level-global-bronze .wcorg-sponsor, 
.wcorg-sponsor-level-bronze .wcorg-sponsor {    
    width: 24%;
}
.wcorg-sponsor-level-global-bronze .wcorg-sponsor:nth-child(4n+1),
.wcorg-sponsor-level-bronze .wcorg-sponsor:nth-child(4n+1) {
    clear: left;
}
